<!--
herencia de blank.html que es la plantilla de la pagina
-->
{%extends "indexAdmin.html" %}
{% load staticfiles %}
{% block css %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> </link>
<link href="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" rel="stylesheet"> </link>
{%endblock%}

<!--
en esta seccion se va a poner el contenido de la pagina
-->

{%block content%}

<h1 class="page-header">Cotización de vehículos</h1>



<!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Cotización de vehículos</h3>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper table-responsive">
                                <table style="width: 130%;" class="table table-striped table-bordered table-hover" id="vehiculos_nuevos">
                                    <col width="2%">
                                    <col width="5%">
                                    <col width="5%">
                                    <col width="5%">
                                    <col width="5%">
                                    <col width="5%">
                                    <col width="9%">
                                    <col width="5%">
                                    <col width="5%">
                                    <thead>
                                        <tr>
                                        <th>Seleccionar</th>
                                        <th>Código</th>
                                        <th>Cilindraje</th>
                                        <th>Marca</th>
                                        <th>Línea</th>
                                        <th>Modelo</th>
                                        <th>Tipo de combustible</th>
                                        <th>Color</th>
                                        <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Código</th>
                                        <th>Cilindraje</th>
                                        <th>Marca</th>
                                        <th>Línea</th>
                                        <th>Modelo</th>
                                        <th>Combustible</th>
                                        <th>Color</th>
                                        <th>Valor</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {%for veh in vehiculos_nuevos %}
                                    {%if veh.activo%}
                                        <tr>
                                            <td style="text-align:center;"><input type="checkbox"" value="selected"><br></td>
                                            <td>{{veh.codigo}}</td>
											<td>{{veh.cilindraje}}</td>
                                            <td>{{veh.marca}}</td>
											<td>{{veh.linea}}</td>
											<td>{{veh.modelo}}</td>
											<td>{{veh.tipo_combustible}}</td>
											<td>{{veh.color}}</td>
                                            <td>{{veh.valor}}</td>
                                        </tr>
                                    {%endif%}
                                    {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <button id="btnCotizar" class="btn btn-danger btn-block"><i class="fa fa-check-square-o"></i> Cotizar selección</button>
                        </div>
                    </div>
                </div>
            </div>



<!--{%if sig%}-->

    <button type="button" id="botonModalCliente" data-toggle="modal" data-target="#infoCliente"
                style="display:none;"></button>
        <div class="modal inmodal" id="infoCliente" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated fadeIn">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <i class="fa fa-users modal-icon"></i>
                        <h4 class="modal-title">Cliente</h4>
                        <small class="font-bold">Por favor indique los datos del cliente al que pertenece la cotización.
                        </small>
                    </div>
                    <div  class="modal-body">


                        <form id= "form_cliente" action="" method="post" class="form-horizontal">
                            {% csrf_token %}
                            <!-- identificacion-->
                            <div class="form-group">
                                {{form.identificacion.errors}}
                                <label class="col-lg-2 control-label">{{form.identificacion.label}}</label>
                                <div class="col-lg-6 text-label">{{form.identificacion}}</div>
                            </div>
                            <!-- nombres -->
                            <div class="form-group">
                                {{form.nombres.errors}}
                                <label class="col-lg-2 control-label">{{form.nombres.label}}</label>
                                <div class="col-lg-6 text-label">{{form.nombres}}</div>
                            </div>
                            <!-- apellidos -->
                            <div class="form-group">
                                {{form.apellidos.errors}}
                                <label class="col-lg-2 control-label">{{form.apellidos.label}}</label>
                                <div class="col-lg-6">{{form.apellidos}}</div>
                            </div>
                            <!-- telefono -->
                            <div class="form-group">
                                {{form.telefono.errors}}
                                <label class="col-lg-2 control-label">{{form.telefono.label}}</label>
                                <div class="col-lg-6">{{form.telefono}}</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white"
                                        href="{% url 'cotizacion_vehiculos'%}" data-dismiss="modal">Cancelar
                                </button>
                                <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar cambios
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--{%else%}-->

    <button type="button" id="botonModalCliente2" data-toggle="modal" data-target="#infoCliente"
                style="display:none;"></button>
        <div class="modal inmodal" id="infoCliente2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated fadeIn">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <i class="fa fa-users modal-icon"></i>
                        <h4 class="modal-title">Cliente</h4>
                        <small class="font-bold">Por favor indique los datos del cliente al que pertenece la cotización.
                        </small>
                    </div>
                    <div  class="modal-body">

                        {% csrf_token %}
                        <!-- identificacion -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Identificación</label>
                            <input type="number" id="identificacion" class="form-control" placeholder="Identificación...">
                        </div>
                        <!--boton siguiente-->
                        <td><button class="btn btn-xs btn-info dim" id="btnSig">
                            Siguiente</button></a></td>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--{%endif%}-->
<!--{% if cliente %}-->

    <!--<button type="button" id="botonModalCliente" data-toggle="modal" data-target="#infoCliente"-->
            <!--style="display:none;"></button>-->
    <!--<div class="modal inmodal" id="infoCliente" tabindex="-1" role="dialog" aria-hidden="true">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content animated fadeIn">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal"><span-->
                            <!--aria-hidden="true">&times;</span><span class="sr-only">Close</span>-->
                    <!--</button>-->
                    <!--<i class="fa fa-users modal-icon"></i>-->
                    <!--<h4 class="modal-title">Cliente</h4>-->
                    <!--<small class="font-bold">Por favor indique los datos del cliente al que pertenece la cotización.-->
                    <!--</small>-->
                <!--</div>-->
                <!--<div  class="modal-body">-->
                    <!--<form id= "form_cliente" action="" method="post" class="form-horizontal">-->
                        <!--&lt;!&ndash; identificacion &ndash;&gt;-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-lg-2 control-label">Identificación</label>-->
                            <!--<input id="identificacion" class="form-control">-->
                        <!--</div>-->
                        <!--&lt;!&ndash;boton siguiente&ndash;&gt;-->
                        <!--<td><a href="/cotizacion_vehiculos/cliente/{{identificacion}}"><button class="btn btn-xs btn-info dim">-->
                            <!--Siguiente</button></a></td>-->
                        <!--{%if sig%}-->
                            <!--<form id= "form_cliente" action="" method="post" class="form-horizontal">-->
                            <!--&lt;!&ndash; nombres &ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--{{form_cliente.nombres.errors}}-->
                                <!--<label class="col-lg-2 control-label">{{form_edicion.nombres.label}}</label>-->
                                <!--<div class="col-lg-6 text-label">{{form_edicion.nombres}}</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; apellidos &ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--{{form_cliente.apellidos.errors}}-->
                                <!--<label class="col-lg-2 control-label">{{form_edicion.apellidos.label}}</label>-->
                                <!--<div class="col-lg-6">{{form_edicion.apellidos}}</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; telefono &ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--{{form_cliente.telefono.errors}}-->
                                <!--<label class="col-lg-2 control-label">{{form_edicion.telefono.label}}</label>-->
                                <!--<div class="col-lg-6">{{form_edicion.telefono}}</div>-->
                            <!--</div>-->
                        <!--{%endif%}-->
                        <!--<div class="modal-footer">-->
                            <!--<button type="button" class="btn btn-white"-->
                                    <!--href="/vehiculos_nuevos/listarvn" data-dismiss="modal">Cancelar-->
                            <!--</button>-->
                            <!--<button type="submit" class="btn btn-primary">Guardar cambios-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--{%endif%}-->

<!--
          acontinuacion se pone el codigo para la edicion
-->

{%endblock%}

<!--
en esta seccion iran enlaces a libresrias externas en este caso a datatables
-->
{%block js%}
<!--
para traer el bloque de codigo que esta en la pagina blank.html
-->
{{block.super}}

    <!-- DataTables JavaScript -->
    <script src="{{STATIC_URL}}/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{STATIC_URL}}/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
    <!--pdfmake-->
    <script src='{{STATIC_URL}}/static/js/pdfmake.min.js'></script>
 	<script src='{{STATIC_URL}}/static/js/vfs_fonts.js'></script>
    <!-- validacion del formulario editar-->
    <script type="text/javascript" src="{{STATIC_URL}}/static/validator.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/static/js/cotizacionVehiculos.js"></script>


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
     <script>
         $(document).ready(function() {
    // Setup - add a text input to each footer cell
          var i=0;
          $('#vehiculos_nuevos tfoot th').each( function () {
              i++;
              if (i!==1 &&  i <=9){
              var title = $(this).text();
              $(this).html( '<input type="text" placeholder='+title+' style="width: 100%;" />' );}
          } );

        // DataTable
            var table = $('#vehiculos_nuevos').DataTable({responsive:true});

            // Apply the search
            table.columns().every( function () {
                var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
        } );
    } );
} );
    </script>

<!--script que abre el diálogo-->
<script type="text/javascript">
    $(document).ready(function() {
        $("#btnCotizar").click(function(){
            getCheckboxes();
          $.ajax({
            url: 'vehiculos.html',
            success: function(data) {
              $("#infoCliente2").load(data).dialog({modal:true}).dialog('open');
            }
          });

        })

    })

</script>

<!--script que abre el diálogo cuando viene de evaluar cliente-->

{%if sig %}
    <script>
        $(document).ready(function(){
            $('#botonModalCliente').click();
        });
    </script>
{%endif%}

<!--script para pasar a escribir el pdf y guardarlo en el archivo js-->
<script type="text/javascript">
    $(document).ready(function() {
        $("#btnGuardar").click(function() {
            writeCotizacion();
        })
    })
</script>

<!--script para pasar a la llenar del cliente-->
<script type="text/javascript">
    $(document).ready(function() {

        $("#btnSig").click(function() {
            var txt= $('#identificacion').val()
            if(txt!==""){
                window.location = "../clientes/" + String(txt);
            }
        })
    })
</script>

{%endblock%}