<!--
herencia de blank.html que es la plantilla de la pagina
-->
{%extends "blank.html"%}
{% load staticfiles %}
{% block css %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> </link>
    <link href="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" rel="stylesheet"> </link>
    <script src="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
{%endblock%}

<!--
en esta seccion se va a poner el contenido de la pagina
-->
{%block content%}
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Repuestos <small>Registre el repuesto a crear...</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Aqui podra crear los repuestos que va a manejar en el inventario
                            </li>

                        </ol>

                        <div class="col-lg-8">
                            {% if exito %}
                                <div class="alert alert-success alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
                                    <i class="fa fa-check"></i> Se creado un curso con exito!
                                </div>
					        {% endif %}
					    <form id= "form_repuesto" action="" method="post">
                                {% csrf_token %}
                                <!-- codigo -->
                                {{form.codigo.errors}}
                                <div class="form-group">
                                    <label>{{form.codigo.label}}</label>
                                    <p class="help-block">codigo del repuesto.</p>
                                    {{form.codigo}}
                                </div>

                                <!-- nombre -->
                                {{form.nombre.errors}}
                                <div class="form-group">
                                    <label>{{form.nombre.label}}</label>
                                    <p class="help-block">nombre del repuesto</p>
                                    {{form.nombre}}
                                </div>

                                <!-- marca -->
                                {{form.marca.errors}}
                                <div class="form-group">
                                    <label>{{form.marca.label}}</label>
                                    <p class="help-block">marca del repuesto.</p>
                                    {{form.marca}}
                                </div>

                                <!-- costo -->
                                {{form.costo.errors}}
                                <div class="form-group">
                                    <label>{{form.costo.label}}</label>
                                    <p class="help-block">costo del repuesto por unidad.</p>
                                    {{form.costo}}
                                </div>
								<!-- marca del carro -->
                                {{form.marca_carro.errors}}
                                <div class="form-group">
                                    <label>marca del carro</label>
                                    <p class="help-block">marca del carro a la que fue diseñada el repuesto.</p>
                                    {{form.marca_carro}}
                                </div>
                                <!-- marca del carro -->
                                {{form.modelo_carro.errors}}
                                <div class="form-group">
                                    <label>modelo del carro</label>
                                    <p class="help-block">modelo del carro a la que fue diseñada el repuesto.</p>
                                    {{form.modelo_carro}}
                                </div>
                                <!-- cantidad -->
                                {{form.cantidad.errors}}
                                <div class="form-group">
                                    <label>{{form.cantidad.label}}</label>
                                    <p class="help-block">cantidad inicial para registrar en el inventario</p>
                                    {{form.cantidad}}
                                </div>
                                
                                <!-- modelo del carro -->
                                
                                    <!--BOTON del submit-->

								<div class="form-group">
									<button type="submit" class="btn btn-primary">Crear</button>
								</div>

                            </form>
                        </div>
					</div>
</div>
                            
                            
    


                       
{%endblock%}                            

<!--
en esta seccion iran enlaces a libresrias externas en este caso a datatables
-->
{%block js%}
<!--
para traer el bloque de codigo que esta en la pagina blank.html
-->
{{block.super}}

 <!-- DataTables JavaScript -->
    <script src="../static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>

    <!-- validacion de los datos por medio de bootstrap validator   -->
    <script>
        $('#form_repuesto').bootstrapValidator({
        message: 'Este valor no es valido',
        feedbackIcons:
        {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields:
        {
            codigo:
            {
                validators:
                {
                    notEmpty:
                    {
                        message: 'El nombre de usuario es requerido'
                    }
                }
            },
            nombre:
            {
                validators:
                {
                    notEmpty:
                    {
                        message: 'La contraseña es requerida'
                    }
                }
            }
        }
        });
    </script>

{%endblock%}
