<!--
herencia de blank.html que es la plantilla de la pagina
-->
{%extends "indexAdmin.html"%}
{% load staticfiles %}
{% block css %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> </link>
    <link href="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" rel="stylesheet"> </link>
    <script src="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>

{%endblock%}

<!--
en esta seccion se va a poner el contenido de la pagina
-->
{%block content%}

<h1 class="page-header">Orden de trabajo</h1>



<!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Ordenes de trabajo<small>Información básica de las ordenes de trabajo..</small></h3>
                            <div class="container-fluid" align="right">
                                <a href="{% url 'ordenes_crear' %}" class="btn btn-info" data-toggle="tooltip" title="Nueva Orden de Trabajo">
                                    <span class="fa fa-plus-circle"></span></a>
                            </div>

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="ordenes">
                                    <thead>
                                        <tr>
                                            <th>Número</th>
                                            <th>Placa</th>
                                            <th>Fecha de Inicio</th>
                                            <th>Terminado</th>
                                            <th>Fecha de finalización</th>
                                            <th>Estado</th>
                                            <th>Activar/Desactivar</th>
                                            <th>Editar</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Número</th>
                                        <th>Placa</th>
                                        <th>Fecha de Inicio</th>
                                        <th>Terminado</th>
                                        <th>Fecha de finalización</th>
                                        <th>Estado</th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                    </tfoot>
                                    <tbody>
                                        {%for orden in ordenes %}
                                        <tr>
											<td>{{orden.numero}}</td>
											<td>{{orden.placa}}</td>
											<td>{{orden.fecha_inicio}}</td>
											<td>{{orden.terminado}}</td>
                                            <td>{{orden.fecha_fin}}</td>
                                        {%if orden.activo %}
                                            <td><p><span class="badge badge-primary">Activo</span></p></td>
                                            <td><a href="{% url 'ordenes_eliminar' orden.id %}"><button class="btn btn-xs btn-danger dim"><i class="fa fa-check-square-o"></i> Desactivar</button></a></td>
                                        {%else%}
                                            <td><p><span class="badge badge-danger">Inactivo</span></p></td>
                                            <td><a href="{% url 'ordenes_eliminar' orden.id %}"><button class="btn btn-xs btn-success dim"><i class="fa fa-check-square"></i> Reactivar</button></a></td>
                                        {%endif%}
                                            <td><a href="{% url 'ordenes_editar' orden.id %}"><button class="btn btn-xs btn-info dim"><i class="fa fa-check-square-o"></i> Editar</button></a></td>

                                        </tr>
                                        {%endfor%}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!-- A Continuación se incluirá el código que será tenido en cuenta para la edición de un curso cuando se presiona el botón 'Editar'
        El código incluye un botón invisible, un modal y un script que hará clic en el botón para que salga el modal con el formulario lleno
        con la información del integrante en cuestión-->
{% if edicion %}


    <button type="button" id="botonModalEdicion" data-toggle="modal" data-target="#editarOrden"
            style="display:none;"></button>
    <div class="modal inmodal" id="editarOrden" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <i class="fa fa-users modal-icon"></i>
                    <h4 class="modal-title">Editar Orden</h4>
                    <small class="font-bold">Por favor modifique a continuación los campos deseados y dé clic en guardar cambios cuando haya terminado, de lo contrario de clic en cancelar.</small>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="form-horizontal"  id="form_orden">
                        {% csrf_token %}
                        <form action="" method="post" class="form-horizontal">

                        <!-- Numero-->
                        <div class="form-group">
                            {{form_edicion.numero.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.numero.label}}</label>
                            <div class="col-lg-6">
                                {{form_edicion.numero}}
                            </div>
                        </div>
                        <!-- Placa-->
                        <div class="form-group">
                            {{form_edicion.placa.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.placa.label}}</label>
                            <div class="col-lg-6 text-label">{{form_edicion.placa}}</div>
                        </div>
                        <!-- Fecha inicio -->
                        <div class="form-group">
                            {{form_edicion.fecha_inicio.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.fecha_inicio.label}}</label>
                            <div class="col-lg-6">{{form_edicion.fecha_inicio}}</div>
                        </div>
                        <!--Finalizacion-->
                        <div class="form-group">
                            {{form_edicion.finalizacion.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.finalizacion.label}}</label>
                            <div class="col-lg-6">{{form_edicion.departamento}}</div>
                        </div>
                        <!-- modelo-->
                        <div class="form-group">
                            {{form_edicion.ciudad.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.ciudad.label}}</label>
                            <div class="col-lg-6">{{form_edicion.ciudad}}</div>
                        </div>

                                     <div class="modal-footer">
                                        <button type="button" class="btn btn-white"
                                                href="/ordenes" data-dismiss="modal">Cancelar
                                        </button>
                                        <button type="submit" class="btn btn-primary">Guardar cambios
                                        </button>
                                    </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{%endif%}
<!-- Fin código de edición -->

{% endblock %}
{%block js%}
    {{block.super}}


 <!-- DataTables JavaScript -->
    <script src="{{STATIC_URL}}/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="{{STATIC_URL}}/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>

    <!-- validacion del formulario editar-->
    <script type="text/javascript" src="{{STATIC_URL}}/static/validator.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->

     <script>
      $(document).ready(function() {
    // Setup - add a text input to each footer cell
          var i=0;
    $('#ordenes tfoot th').each( function () {
        i++;
        if (i <=6){
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="'+title+'" style="width: 100%;" />' );}
    } );

    // DataTable
    var table = $('#ordenes').DataTable({responsive:true});

    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );
    </script>


     {%if edicion %}

        <script>
            $(document).ready(function(){
            $("#id_ciudad").select2({width:'100%'});
            $("#id_departamento").select2({width:'100%'});
            });
        $(document).ready(function(){
        $('#botonModalEdicion').click();
        });

            $('#id_departamento').val({{departamento}});
        </script>
    {%endif%}


{% endblock %}
