{%extends "indexAdmin.html"%}
{% load staticfiles %}
{% block style %}
{{block.super}}
    <link href="{{STATIC_URL}}/static/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">

{%endblock%}

<!--
en esta seccion se va a poner el contenido de la pagina-->

{%block content %}
 <!-- Page Heading -->

    <br>
    <br>
  <div class="row">
      <div class="col-lg-12">
     <div class="panel panel-primary">
         <!--<button id="button"></button>-->
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i>Simple Table Example
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button  id ="btn" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Diario
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a id="diario" >Diario</a>
                                            </li>
                                            <li><a id = "semanal">Semanal</a>
                                            </li>
                                            <li><a id="mensual">Mensual</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="opciones" class="row">
                                             <div class="col-lg-1">
                                                 Fecha
                                             </div>
                                            <div id="div_fecha" class="input-group col-lg-5">
                                                <input id = "fecha" type="text" class="date form-control" >
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                             <br>
                                             <br>
                                        </div>
                                        <div id = "tabla" class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped highchart"
                                            data-graph-container="#grafico"
                                                data-graph-type="column">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Entradas</th>
                                                        <th>Salidas</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>3326</td>
                                                        <td>5</td>
                                                        <td>10</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3325</td>
                                                        <td>100</td>
                                                        <td>200</td>

                                                    </tr>
                                                    <tr>
                                                        <td>3324</td>
                                                        <td>50</td>
                                                        <td>80</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3323</td>
                                                        <td>250</td>
                                                        <td>400</td>

                                                    </tr>
                                                    <tr>
                                                        <td>3322</td>
                                                        <td>500</td>
                                                        <td>1000</td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="grafico" style="width: 90%"> </div>

                                    </div>

                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
          </div>
      </div>

{% endblock %}

{% block js %}
    {{block.super}}
<script src="{{STATIC_URL}}/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="{{STATIC_URL}}/static/js/highcharts.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}/static/js/jquery.highchartTable.js" type="text/javascript"></script>
<!--<script src="{{STATIC_URL}}/static/js/bootstrap-datepicker.js" type="text/javascript"></script>-->




<!--script para calendario de semanas-->
<script type="text/javascript">
function weekpicker() {
    var startDate;
    var endDate;

    var selectCurrentWeek = function() {
        window.setTimeout(function () {
            $('.week-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
        }, 1);
    }

    $('.week-picker').datepicker( {
        showOtherMonths: true,
        selectOtherMonths: true,
        onSelect: function(dateText, inst) {
            var date = $(this).datepicker('getDate');
            startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
            endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);
            var dateFormat = "yy-mm-dd"
            $('#fecha').val ($.datepicker.formatDate( dateFormat, startDate, inst.settings ) + " - " + $.datepicker.formatDate( dateFormat, endDate, inst.settings ) )

            selectCurrentWeek();
        },
        beforeShowDay: function(date) {
            var cssClass = '';
            if(date >= startDate && date <= endDate)
                cssClass = 'ui-datepicker-current-day';
            return [true, cssClass];
        },
        onChangeMonthYear: function(year, month, inst) {
            selectCurrentWeek();
        }
    });

    $('.week-picker .ui-datepicker-calendar tr').mousemove(function() { $(this).find('td a').addClass('ui-state-hover'); });
    $('.week-picker .ui-datepicker-calendar tr').mouseleave(function() { $(this).find('td a').removeClass('ui-state-hover'); });
};
</script>

<!--script para crear el grafico de barras dada la tabla-->
<script>
$(document).ready(function() {
  $('table.highchart').highchartTable();
    actualizar()
});
</script>

<!--script para la creacion la tabla y el grafico de barras de la tabla -->
<script>
$(document).ready(function(){
    $("#button").click(function(){
        var table = $('<table data-graph-container="#grafico"data-graph-type="column"></table>').addClass('table table-bordered table-hover table-striped highchart');
        table.append ('<thead> <tr> <th>#</th> <th>Entradas</th> <th>Salidas</th> </tr> </thead>')
    for(i=0; i<3; i++){
        var row = $('<tr></tr>')
        for  (j = 0;j<3;j++) {
            var column = $('<td></td>').text(j)
            row.append (column)
        }
        table.append(row);
    }

    $('#tabla').addClass('table-responsive');
    $('#tabla').empty();
    $('#tabla').append(table);
    $('table.highchart').highchartTable();
    });
});
</script>

<!--script para cargar los elementos necesario cuando se desea un informe dirario-->
<script>
$(document).ready(function(){
    $("#diario").click(function(){
        $("#btn").html('Diario <span class="caret"></span>')
        $("#div_fecha").empty()
        $("#div_fecha").html('<input id = "fecha" type="text" class="form-control date" > '+
                                                '<div class="input-group-addon">'+
                                                    '<span class="glyphicon glyphicon-th"></span>'+
                                                '</div>');
        actualizar()
    });
});
</script>

<!--script para cargar los elementos necesario cuando se desea un informe semanal-->
<script>
$(document).ready(function(){
    $("#semanal").click(function(){
        $("#btn").html('Semanal <span class="caret"></span>')
         $("#div_fecha").empty()
         $("#div_fecha").removeClass('col-lg-5')
         $("#div_fecha").addClass('col-lg-8')

         $("#div_fecha").html( '<div class = "col-lg-10"><input id = "fecha" type="text" class="form-control"> </div>' +
                 ' <div class="week-picker input-group-addon"></div>');
        weekpicker()

    });
});
</script>

<!--script para cargar los elementos necesario cuando se desea un informe mensual-->
<script>
$(document).ready(function(){
    $("#mensual").click(function(){
        $("#btn").html('Mensual <span class="caret"></span>')

        $("#div_fecha").empty()
        $("#div_fecha").html('<input id = "fecha" type="text" class="form-control date_month" > '+
                                                '<div class="input-group-addon">'+
                                                    '<span class="glyphicon glyphicon-th"></span>'+
                                                '</div>');
        actualizar()

    });
});
</script>

<!--script para actualizar el datepicker -->

 <script>
     function actualizar () {
         $(".date").datepicker({
             keyboardNavigation: false,
             forceParse: false,
             autoclose: true,
             dateFormat: "yy-mm-dd",
             minDate: new Date(2010, 1 - 1, 1),
             maxDate: "0"



         });
         $(".date_month").datepicker({
             keyboardNavigation: false,
             forceParse: false,
             autoclose: true,
             dateFormat: "yy-mm",
             startView: "year",
             minViewMode: "months",
             minDate: new Date(2007, 1 - 1, 1),
             maxDate: "0"
         });
     }
</script>

{% endblock %}