
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Siscon administrador</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{STATIC_URL}}/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{STATIC_URL}}/static/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{STATIC_URL}}/static/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{STATIC_URL}}/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- DataTables CSS -->
    <link href="{{STATIC_URL}}/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{STATIC_URL}}/static/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}/static/js/select2-4.0.1/dist/css/select2.min.css" rel="stylesheet" />



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	 {%block style%}
    {%endblock%}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> <p class="text-danger">Panel Administrador de SISCON</p> </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar op-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle text-danger" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">

                            <img src="{{STATIC_URL}}/static/logoSiscon.png" alt="logo siscon" class="img-rounded" width="180" height="150">
                            <!-- /input-group -->
                        </li>
                            <!-- /input-group -->
                        {% if user.is_authenticated%}
                            <li>
                                <a href="{% url 'listar_sucursales' %}" class="text-danger"> <i class="fa fa-briefcase fa-fw"></i> Sucursales</a>
                            </li>
                        {% endif %}

                        {% if user.is_authenticated%}

                            <li>
                                <a href="{% url 'listar_empleados' %}" class="text-danger"><i class="fa fa-user-md fa-fw"></i> Empleados</a>
                            </li>

                        {% endif %}

                        {% if user.is_authenticated%}

                            <li>
                                <a href="{% url 'listar_repuestos' %}" class="text-danger"><i class="fa fa-wrench fa-fw"></i> Repuestos</a>
                            </li>

                        {% endif %}

                        {% if user.is_authenticated%}

                            <li>
                                <a href="{% url 'listar_vehiculos_nuevos' %}" class="text-danger"><i class="fa fa-car fa-fw"></i> Vehiculos Nuevos</a>
                            </li>
                        {% endif %}

                        {% if user.is_authenticated%}
                            <li>
                                <a href="{% url 'listar_vehiculos_usados' %}" class="text-danger"><i class="fa fa-car fa-fw"></i> Vehiculos Usados</a>
                            </li>
                        {% endif %}

                        {% if user.is_authenticated%}
                            <li>
                                <a href="{% url 'reportes' %}" class="text-danger"><i class="fa fa-bar-chart"></i> Reportes </a>
                            </li>
                        {% endif %}



                        {% if 'empleado.listar_ordenes' in perms and user.is_authenticated%}
                            <li>
                                <a href="{% url 'listar_ordenes' %}" class="text-danger"><i class="fa fa-cogs fa-fw"></i> Ordenes de Trabajo</a>
                            </li>
                        {% endif %}

                        {% if 'empleado.listar_ordenes_repuestos' in perms and user.is_authenticated%}
                            <li>
                                <!--a href="{#% url 'listar_ordenes_repuestos' %#}" class="text-danger"><i class="fa fa-cogs fa-fw"></i> Ordenes de Trabajo</a-->
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

       <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {%block content%}
                        {%endblock%}
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>


            <div id="footer">
                  <div class="container">
                    <p class="text-danger credit"><strong>Copyright </strong>SISCON Univalle &copy; 2015</a>.</p>
                  </div>
                </div>
            <!-- /.container-fluid -->

            <div id="chartdiv" style="height: 450px"></div>
                <div class="container-fluid">
                  <div class="row text-center" style="overflow:hidden;">
                        <div class="col-sm-3" style="float: none !important;display: inline-block;">
                            <label class="text-left">Angle:</label>
                            <input class="chart-input" data-property="angle" type="range" min="0" max="60" value="40" step="1"/>
                        </div>

                        <div class="col-sm-3" style="float: none !important;display: inline-block;">
                            <label class="text-left">Depth:</label>
                            <input class="chart-input" data-property="depth3D" type="range" min="1" max="120" value="100" step="1"/>
                        </div>

                    </div>
                </div>


        </div>
        <!-- /#page-wrapper -->

        </div>

    <!-- /#wrapper -->

    {%block js%}
    <!-- jQuery -->
    <script src="{{STATIC_URL}}/static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{STATIC_URL}}/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{STATIC_URL}}/static/dist/js/sb-admin-2.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

    <!--AJAX -->

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    {%endblock%}


<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/funnel.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>


    <script>
     $(document).ready(function(){
         console.log("Hola");
    var chart = AmCharts.makeChart( "chartdiv", {
  "type": "funnel",
  "theme": "light",
  "dataProvider": [ {
    "title": "Website visits",
    "value": 200
  }, {
    "title": "Downloads",
    "value": 123
  }, {
    "title": "Requested price list",
    "value": 98
  }, {
    "title": "Contaced for more info",
    "value": 72
  }, {
    "title": "Purchased",
    "value": 35
  }, {
    "title": "Contacted for support",
    "value": 35
  }, {
    "title": "Purchased additional products",
    "value": 26
  } ],
  "balloon": {
    "fixedPosition": true
  },
  "valueField": "value",
  "titleField": "title",
  "marginRight": 240,
  "marginLeft": 50,
  "startX": -500,
  "depth3D": 100,
  "angle": 40,
  "outlineAlpha": 1,
  "outlineColor": "#FFFFFF",
  "outlineThickness": 2,
  "labelPosition": "right",
  "balloonText": "[[title]]: [[value]]n[[description]]",
  "export": {
    "enabled": true
  }} ,0);

jQuery( '.chart-input' ).off().on( 'input change', function() {
  var property = jQuery( this ).data( 'property' );
  var target = chart;
  var value = Number( this.value );
  chart.startDuration = 0;

  if ( property == 'innerRadius' ) {
    value += "%";
  }

  target[ property ] = value;
  chart.validateNow();
} );});
        console.log("Despues")
</script>

</body>
</html>
